<style>
#gameArea{
	background: none !important;
}
</style>
<div class="joinReportWrapper">
        <div class="main-short-banner"><img class="inner-page-mini-logo" src="images/collabit-logo.png" /></div>
    <div align="center">{{msg}}</div><br>
<div style="width: 100%; max-width: 1200px; margin:0px auto; padding:0px; display: inline-block;">

      <div id = "containerP1" style="float:left">
        <highchart id="chart1" config="chartConfig1"></highchart>          
      </div>
    <div id = "containerP2" style="float:right">
        <highchart id="chart2" config="chartConfig2"></highchart>    
    </div>
<div id="container" style="width:100%;margin: 15px auto; pading:0px;">
    <div>
    <p>Easy Question contains 1 marks</p>
    <p>Medium Question contains 3 marks</p>
    <p>Hard Question contains 5 marks</p>
    </div> 
	<div id="container1" style="width:48%; margin: 15px auto; padding-left: 20px; float:left; text-align:left;">

		<table>
        <tr>
        <th>Level</th>
        <th>Correct</th>
        <th>Incorrect</th>
        </tr>
        <tbody>
            <tr>
                <td>Easy</td>
                <td>{{easy1C}}</td>
                <td>{{easy1CW}}</td>
            </tr>
        <tbody>
            <tr>
                <td>Medium</td>
                <td>{{medium1C}}</td>
                <td>{{medium1CW}}</td>
            </tr>
        <tbody>
            <tr>
                <td>Hard</td>
                <td>{{hard1C}}</td>
                <td>{{hard1CW}}</td>
            </tr>

        </tbody>      
        </table>	
		<br>
		My Score  - {{marks1}}
	</div>
	
	<div id="container2" style="width:48%; margin: 15px auto; padding-left: 20px; float:left; text-align:left;">
        <table>
        <tr>
        <th>Level</th>
        <th>Correct</th>
        <th>Incorrect</th>
        </tr>
        <tbody>
            <tr>
                <td>Easy</td>
                <td>{{easy2C}}</td>
                <td>{{easy2CW}}</td>
            </tr>
        <tbody>
            <tr>
                <td>Medium</td>
                <td>{{medium2C}}</td>
                <td>{{medium2CW}}</td>
            </tr>
        <tbody>
            <tr>
                <td>Hard</td>
                <td>{{hard2C}}</td>
                <td>{{hard2CW}}</td>
            </tr>

        </tbody>      
        </table>
		<br>
		Yours Score  - {{marks2}}

	</div>

</div>
</div>

</div>
