/*

 Dark Green : #78BD4C
  Mid Green : #A8FF56
       Lite : #ECFFE0
Dark Purple : #A22FB0

*/

html, body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



/* ******************************
              BUTTONS!
     (Inspired by Bootstrap 3.0)
     ****************************** */

     .btn {
        display: inline-block;
        height: 100%;
        /*width: 49%;*/
        margin-bottom: 0;
        color: #ECFFE0;
        font-family: 'Calibri', 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 2em;
        line-height: 1.2;
        text-align: center;
        background-color: #8AD453;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    #btntestComplete{
    cursor: pointer;
    padding: 4px;
    border: 2px solid #fff;
    background: #4285f4;
    color: #fff;        
    }
    .btn:hover,
    .btn:focus {
        color: #1f4d8c;
        text-decoration: none;
        outline: none;
    }

    .btn:active,
    .btn.active {
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
    .btn-img {
        width: 132px;
        height: 48px;
        background: url(../images/btn-bg.png) no-repeat 0 0;
    }

    a.btn-left {
        margin: 0 0 0 3%;
        padding: 10px 5px 0 0;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: #cadef9;
        font-family: 'calibri';
        float: left;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    a.btn-right {
        margin: 0 5% 0 0;
        padding: 10px 0 0 0px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: #cadef9;
        font-family: 'calibri';
        float: right;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    a.btn-left:hover, a.btn-right:hover {
        color: #ffe706
    }
/* ******************************
          TITLE SCREEN
     (intro-screen-template)
     ****************************** */

     #gameArea {
        height: 100%;
        width: 100%;
        background:  url(../images/app-main-bg.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .titleWrapper {
        /*font-family: 'Quicksand', sans-serif;*/
        /*font-weight: 400;*/
        position: absolute;
        /*height: 50%;*/
        width: 100%;
        margin: auto;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        background:  url(../images/logo-patch-bg.jpg) no-repeat 0 0;
        background-size: cover;
        height: 250px;
    }

    .title {
        margin: 0px auto;
        text-align: center;
        width: 100%;
        font-family: 'Calibri', 'Quicksand', sans-serif;
        color: #ECFFE0;
        font-weight: 300;
    }
    .textFitted {
        font-size: 1px !important;
    }
    .buttons {
        width: 100%;
        text-align: center;
    }
    .img-responsive {
        max-width: 100%;
        height: auto;
    }
/* ******************************
          START SCREEN
     (create-game-template)
     ****************************** */

     .createGameWrapper, .joinGameWrapper, .gameOver, #playerScores, #ulAnswers, .joinReportWrapper {
        font-family: 'Calibri', 'Quicksand', sans-serif;
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
        height: 100%
    }
    .createGameWrapper .main-short-banner, .joinGameWrapper .main-short-banner, #playerScores .main-short-banner, #ulAnswers .main-short-banner, #gameArea .joinReportWrapper .main-short-banner {
        background:  url(../images/inner-small-banner-bg.jpg) no-repeat 0 0;
        background-size: cover;
        height: auto;
        margin: 0px auto 40px auto;
    }
    .createGameWrapper .main-short-banner .inner-page-mini-logo, .joinGameWrapper .main-short-banner .inner-page-mini-logo, #playerScores .main-short-banner .inner-page-mini-logo, #ulAnswers .main-short-banner .inner-page-mini-logo, #gameArea .joinReportWrapper .main-short-banner .inner-page-mini-logo {
        width:29%;
        text-align:center;
        margin:0px auto;
    }
    .createGameWrapper .info, .joinGameWrapper .info, .joinGameWrapper .info > label {
        color: #699de1;
        font-weight: 400;
        font-size: 27px;
    }

    .createGameWrapper{
        color: #ff0000;
        font-weight: 300;
    }

    .info label {
        display: block;
    }

    .info input {
        text-align: center;
        padding: 10px;
        width: 360px;
        height: 60px;
        font-family: 'Calibri', 'Quicksand', sans-serif;
        color: #A22FB0;
        font-weight: 300;
        font-size: 54px;
        border: 1px dotted white;
        border-radius: 10px;
        background: transparent;
    }

    .info input#inputPlayerName {
        width: 45%;
    }
    .info input#inputPlayerName, .info input#inputGameId {
        margin-top: 7px;
    }
    .createGameWrapper #spanNewGameCode {
        font-size: 40px;
        color: #134587;
        background: url(../images/pass-key-field-bg.png) no-repeat center center;
        height: 82px;
        margin: 10px 0px;
        line-height: 81px;
        font-weight: 400;
    }


/* ******************************
           JOIN SCREEN
      (join-game-template)
      ****************************** */

      .joinGameWrapper {
        margin: 0;
        padding: 0;
        height: 100%;
        min-height: 320px;
    }

    .joinGameWrapper .info {
        font-size: 1.5em;
        color: #ECFFE0;
        height: 30%;
        padding-top: 1%;
    }
    .joinGameWrapper .info.player-key-box {
        height: 20%;
    }
    .joinReportWrapper {
        height: 670px;
        margin: 0 0 100px 0;
        overflow-y: scroll;
        overflow-x: auto; 
    }
    .joinGameWrapper .info input#inputPlayerName, .joinGameWrapper .info input#inputGameId {
        border:1px solid #2664b5;
        border-radius:2px;
        background-color: #fff;
        color: #134587;
        font-size: 33px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .joinGameWrapper .btn {
        width: 100%;
        height: 50%;
    }
    .begin-btn-img {
        background-color: #72a7ec;
        color: #cadef9;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        border: 1px solid #2f6ab8;
        border-radius:4px;
        padding:5px 20px;
        font-family: 'Calibri';
        cursor: pointer;
        text-decoration: none;
    }

    #playerWaitingMessage {
        font-size: .8em;
    }

    .createGameWrapper #gameURL {
        font-size: 4em;
    }

    .createGameWrapper .gameId {
        font-size: 8em;
    }



/* ******************************
          PLAYER GAME SCREEN

          ****************************** */


         #ulAnswers {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            min-height: 100px;
            overflow-y: scroll;
            overflow-x: hidden;            
        }

        #ulAnswers li {
            width: 100%;
            display: inline-block;
            /*height: 16.6%;*/
            cursor: auto;
        }

        .question-bank-container {
            max-width: 80%;
            margin:0 auto 25px auto;
            padding: 0px 30px;
        }

        .question-box {
            width:100%;
            margin:0 0 10px 0;
            padding: 0px;
            float: left;
            text-align: left;
            color: #699de1;
            font-size: 20px;
            font-weight: 400;
        }
        .answer-box {
            width: 100%;
            margin:0px;
            padding: 0 0 0 30px;
            float: left;
            text-align: left;
            color: #699de1;
            font-size: 18px;
            font-weight: 400;
        }

        .btnAnswer {
            width: 100%;
            border-bottom: 1px dotted #82ace6;
            font-weight: 400;
            font-size: 3em;
            color: #82ace6;
            background-color: #dfecfe;
        }



/* ******************************
            HOST SCREEN
       (host-game-template)
       ****************************** */

       /* Absolute Centering: http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
       #wordArea {
        font-family: 'Calibri', 'Quicksand', sans-serif;
        font-weight: 400;
        position: absolute;
        height: 50%;
        width: 50%;
        margin: auto;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
    }

    #hostWord {
        height: 100%;
        width: 100%;
    }

    #hostWord h2, #btnPlayerRestart h3 {
        font-size: 161px;
        line-height: 1em;
        font-family: 'Calibri', 'Quicksand', sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    /*#playerScores {
        height: 10%;
        width: 100%;
        position: fixed;
        top: 0;
    }*/

    .playerScore {
        width: 50%;
        padding: 0;
        margin: 0;
        font-family: 'Calibri', 'Quicksand', sans-serif;
        font-weight: 400;
        height: 100%;
    }

    #playerScores{
    min-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    .playerScore span {
        display: inline-block;
        font-size: 1.4EM;
        padding: 2%;
        min-width: 10%;
        margin: 0;
    }

    .playerScore .score {
        text-align: center;
        background-color: #A8FF56;
    }

    .playerScore .playerName {
        width: 77%;
        background-color: #ECFFE0;
    }

    #player1Score {
        float: left;
    }

    #player2Score {
        float: right;
        text-align: right;
    }


/* ******************************
          TITLE SCREEN
     (intro-screen-template)
     ****************************** */

     .gameOver {
        display: block;
        height: 20%;
        padding-top: 10%;
        font-size: 2em;
    }

    .btnGameOver {
        width: 100%;
        height: 10%;
        position: fixed;
        bottom: 0;
    }
    .send-test-btn {
        background-color: #fff !important;
        padding: 10px;
        list-style-type: none;
    }
    .send-test-btn a {
        color: #3667aa;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    .send-test-btn a:hover {
        color: #82ace6;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }

    @media (max-width:480px) {
       .titleWrapper {
        position: absolute;
        width: 92%;
        margin: auto;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        height: 125px;
        padding: 50px 20px;
    }
    .createGameWrapper .main-short-banner, .joinGameWrapper .main-short-banner, #playerScores .main-short-banner {
        margin-bottom: 25px;
        height: auto;
    }
    .createGameWrapper .info {
        color: #699de1;
        font-weight: 400;
        font-size: 27px;
        padding: 0px 20px;
    }
    .createGameWrapper .main-short-banner .inner-page-mini-logo, .joinGameWrapper .main-short-banner .inner-page-mini-logo, #playerScores .main-short-banner .inner-page-mini-logo {
        width:87%;
        text-align:center;
        margin:0px auto;
    }
    .info input#inputPlayerName {
        width: 88%;
    }
}

